.topnav {
    background-color: #d4d7c6;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #efefef;
    color: #333;
}

.topnav a.active {
    background-color: #4caf50;
    color: white;
}

.right-icons {
    float: right;
}

.right-icons a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.right-icons a:hover {
    background-color: #efefef;
    color: #333;
}

.fa {
    font-size: 20px;
    margin-right: 5px;
}

.menu-icon {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.menu-container {
    position: fixed;
    top: 46px;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #8fbfbb;
    transition: all 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 14px;
}

.menu-container a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: left;
    width: 100%;
}

.menu-container a:hover {
    background-color: #b0c7c4;
    color: #fff;
    width: 100%;
}

.menu-container.open {
    left: 0;
}

.hide-menu {
    position: fixed;
    top: 46px;
    left: 0;
    width: 50px;
    height: calc(100%);
    background-color: #8fbfbb;
    transition: all 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: left;
    width: 100%;
}

.hide-menu a:hover {
    background-color: #b0c7c4;
    color: #fff;
    width: 100%;
}

.hide-menu.open {
    left: -250px;
}

.calendar-container {
    width: auto;
    margin-left: 50px;
    margin-bottom: 50px;
}

#calendar {
    height: 600px;
    font-size: small;
    margin-top: 7%;
}

.task-name {
    font-size: small;
    padding: 3px;
}

.assigned-to {
    margin-top: 0.5rem;
}

.fc-event {
    overflow: auto;
}

.fc-button {
    background-color: #8fbfbb !important;
    color: white;
    border: none !important;
    padding: 0.5rem 1rem !important;
    font-size: 1.25rem !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    padding: 0.5rem 1rem !important;
}

.fc-button:hover {
    background-color: #fad4a6 !important;
}

a {
    color: black !important;
    text-decoration: none !important;
}

thead {
    background-color: #8fbfbb;
}

.fc-button-group {
    border: 1px solid white!important;
    border-radius: 0.5rem;
    overflow: hidden;
}