.topnav {
    background-color: #d4d7c6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 46px;
}

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #efefef;
    color: #333;
}

.topnav a.active {
    background-color: #4caf50;
    color: white;
}

.right-icons {
    float: right;
}

.right-icons a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.right-icons a:hover {
    background-color: #efefef;
    color: #333;
}

.fa {
    font-size: 20px;
    margin-right: 5px;
}

.menu-icon {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.menu-container {
    position: fixed;
    top: 46px;
    left: -250px;
    width: 250px;
    height: calc(100% - 60px);
    background-color: #8fbfbb;
    transition: all 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 14px;
}

.menu-container a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: left;
    width: 100%;
}

.menu-container a:hover {
    background-color: #b0c7c4;
    color: #fff;
    width: 100%;
}

.menu-container.open {
    left: 0;
    height: 100%;
}

.hide-menu {
    position: fixed;
    top: 46px;
    left: 0;
    width: 50px;
    height: calc(100%);
    background-color: #8fbfbb;
    transition: all 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 14px;
}

.hide-menu a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: left;
    width: 100%;
}

.hide-menu a:hover {
    background-color: #b0c7c4;
    color: #fff;
    width: 100%;
}

.hide-menu.open {
    left: -250px;
}

.buttons-flex {
    display: flex;
    margin-top: 70px;
    margin-bottom: 60px;
}

.upload-button, .download-button {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.buttons-flex label {
    background-color: #8fbfbb;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 1rem 2rem;
    align-self: center;
    margin-top: 1rem;
}

.buttons-flex label:last-child {
    margin-left: 1rem;
}

.buttons-flex label:hover {
    background-color: #fad4a6;
    cursor: pointer;
}

table thead {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    cursor: pointer;
}

td {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
}

tr td:first-child {
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
}

table tr:first-child th:nth-child(1) {
    width: 5%;
}

table tr:first-child th:nth-child(2) {
    width: 50%;
}

table tr:first-child th:nth-child(3) {
    width: 10%;
}

table tr:first-child th:nth-child(4) {
    width: 10%;
}

table tr:first-child th:nth-child(5) {
    width: 20%;
}

#delete-file-btn {
    border: 0;
    background-color: transparent;
}

.table th {
	cursor: pointer;
}

.table .th-sort-asc::after {
	content: "\25b4";
}

.table .th-sort-desc::after {
	content: "\25be";
}

.table .th-sort-asc::after,
.table .th-sort-desc::after {
	margin-left: 5px;
}

#file-table button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}