.topnav {
    background-color: #d4d7c6;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #efefef;
    color: #333;
}

.topnav a.active {
    background-color: #4caf50;
    color: white;
}

.right-icons {
    float: right;
}

.right-icons a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.right-icons a:hover {
    background-color: #efefef;
    color: #333;
}

.fa {
    font-size: 20px;
    margin-right: 5px;
}

.menu-icon {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.menu-container {
    position: fixed;
    top: 46px;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #8fbfbb;
    transition: all 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 14px;
}

.menu-container a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: left;
    width: 100%;
}

.menu-container a:hover {
    background-color: #b0c7c4;
    color: #fff;
    width: 100%;
}

.menu-container.open {
    left: 0;
}


.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 100px;
    padding: 100px;
    margin-top: 40px;
}

.project-card {
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #d4d7c6 50%, #ffffff 50%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    text-decoration: none;
}

.project-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 100px;
}

.project-card-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-card-create {
    background-color: #e9e6e6;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-decoration: none;
}

.project-card:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.project-card-create:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.project-create-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #e4d5d5;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
}

.project-create-icon i {
    font-size: 60px;
    color: black;
}

.project-card {
    position: relative;
}

.project-logo {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #46958d;
    border-radius: 50%;
}

.project-logo i {
    font-size: 40px;
    margin-top: 5px;
}

.create-project-popup {
    border-radius: 10px;
    display: none;
    position: fixed;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #d4d7c6;
    padding: 20px;
    z-index: 9999;
}

.create-project-popup h6 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
}

.create-project-popup h6:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
}

.create-project-popup label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.create-project-popup input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
}

.create-project-popup label:first-child {
    margin-top: 40px;
}

.popup-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.cancel-button,
.submit-button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.cancel-button {
    color: red;
    margin-right: 10px;
}

.submit-button {
    color: green;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.6);
}

.overlay,
.create-project-popup {
    display: none;
}
