.login-container {
    display: flex;
    height: 100%;
    width: 100vw;
    padding: 0;
    margin: 0 !important;
}

.imgbox {
    width: 50%;
    height: 100%;
}

.imgbox > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.login-sizing {
  width: 50%;
  height: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 50%;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.login h4 {
    margin-bottom: 25px;
    color: #45958e;
}



.login form .form-group {
    margin-bottom: 12px;
}

.form-check-input {
  margin-top: 0 !important;

}

.form-check {
  font-size: 14px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin: top 15px;
}

.btn {
    background-color: #fbe7ab;
    color: #45958e;
    margin-bottom: 15px;
}
