.topnav {
    background-color: #d4d7c6;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #efefef;
    color: #333;
}

.topnav a.active {
    background-color: #4caf50;
    color: white;
}

.right-icons {
    float: right;
}

.right-icons a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.right-icons a:hover {
    background-color: #efefef;
    color: #333;
}

.fa {
    font-size: 20px;
    margin-right: 5px;
}

.menu-icon {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.menu-container {
    position: fixed;
    top: 46px;
    left: -250px;
    width: 250px;
    height: calc(100% - 60px);
    background-color: #8fbfbb;
    transition: all 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 14px;
}

.menu-container a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: left;
    width: 100%;
}

.menu-container a:hover {
    background-color: #b0c7c4;
    color: #fff;
    width: 100%;
}

.menu-container.open {
    left: 0;
}

.menu-container :nth-child(5) {
    background-color: rgba(250, 212, 166, 0.6);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.hide-menu {
    position: fixed;
    top: 46px;
    left: 0;
    width: 50px;
    height: calc(100%);
    background-color: #8fbfbb;
    transition: all 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 14px;
}

.hide-menu a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: left;
    width: 100%;
}

.hide-menu a:hover {
    background-color: #b0c7c4;
    color: #fff;
    width: 100%;
}

.hide-menu.open {
    left: -250px;
}

/* .page-content {
    height: 100%;
    width: 100%;
}

.side-bar {
    width: 25%;
    height: 100%;
    border-right: 1px solid #ABABAB;
    float: left;
}

.content {
    width: 75%;
    float: right;
}

.edit-tab, .notification-tab, .security-tab {
    padding-bottom: 10px;
    border: 1px solid #ABABAB;
    border-bottom: 0;
    border-right: 0;
} */

