.topnav {
    background-color: #d4d7c6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 46px;
}

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #efefef;
    color: #333;
}

.topnav a.active {
    background-color: #4caf50;
    color: white;
}

.right-icons {
    float: right;
}

.right-icons a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.right-icons a:hover {
    background-color: #efefef;
    color: #333;
}

.fa {
    font-size: 20px;
    margin-right: 5px;
}

.menu-icon {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.menu-container {
    position: fixed;
    top: 46px;
    left: -250px;
    width: 250px;
    height: calc(100% - 60px);
    background-color: #8fbfbb;
    transition: all 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 14px;
}

.menu-container a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: left;
    width: 100%;
}

.menu-container a:hover {
    background-color: #b0c7c4;
    color: #fff;
    width: 100%;
}

.menu-container.open {
    left: 0;
    height: 100%;
}

.hide-menu {
    position: fixed;
    top: 46px;
    left: 0;
    width: 50px;
    height: calc(100%);
    background-color: #8fbfbb;
    transition: all 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 14px;
}

.hide-menu a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: left;
    width: 100%;
}

.hide-menu a:hover {
    background-color: #b0c7c4;
    color: #fff;
    width: 100%;
}

.hide-menu.open {
    left: -250px;
}

.content-container {
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    padding-left: 50px;
}

.settings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.name-setting, .contributor-setting, .delete-project {
    width: 100%;
    margin-bottom: 60px;
}

.titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    font-weight: 400;
    font-size: 4rem;
    line-height: 65px;
}

#project-name {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    width: 88%;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background-color: #8fbfbb;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fad4a6;
}

.contributors {
    width: 100%;
}

.add-button {
    display: flex;
    justify-content: right;
}

.contributor, .you {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

#add-contributor {
    height: 33px;
}

#change, #add-contributor, .remove-btn, .leave-btn {
    width: 90px;
}

.remove-btn:disabled:hover, .delete-project-btn:disabled:hover {
    cursor: default;
}

#change {
    height: 33px;
}

.add-form, .name-change-form {
    display: none;
    position: fixed;
    border-radius: 10px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #d4d7c6;
    padding: 20px;
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.6);
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

form > * {
    margin: 5px 0 5px 0;
}

form > input {
    border: 0;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    width: 260px;
    height: 39px;
}

form > label {
    font-size: medium;
}

h6 {
    text-align: center;
}

.delete-project {
    display: flex;
    justify-content: right;
}

.delete-project-btn {
    position: absolute;
    padding: 10px;
    background-color: #f8a580;
    color: white;
    width: 140px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

ul {
    padding: 0;
}

#user-input:focus {
    outline: none;
}

#user-input:focus::placeholder {
    color: transparent;
}

#user-input:focus::-webkit-input-placeholder {
    color: transparent;
  }
   
#user-input:focus:-ms-input-placeholder {
    color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

ul {
    padding-left: 0 !important;
}