.signup-container {
    display: flex;
    height: 100%;
    width: 100vw;
    padding: 0;
    margin: 0 !important;
}

.imgbox {
    width: 50%;
    height: 100%;
}

.imgbox > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.signup-sizing {
    width: 50%;
    height: 100%;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 50%;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.signup h4 {
    margin-bottom: 25px;
    color: #45958e;
}

.form-label {
    color: #45958e;
}

.signup form {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin: top 15px;
}

.btn {
    background-color: #fbe7ab;
    color: #45958e;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: 30px;
}

.form-control {
    font-size: 14px;
}

#password-error {
    display: none;
}
