.topnav {
    background-color: #d4d7c6;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #efefef;
    color: #333;
}

.topnav a.active {
    background-color: #4caf50;
    color: white;
}

.right-icons {
    float: right;
}

.right-icons a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.right-icons a:hover {
    background-color: #efefef;
    color: #333;
}

.fa {
    font-size: 20px;
    margin-right: 5px;
}

.menu-icon {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.menu-container {
    position: fixed;
    top: 46px;
    left: -250px;
    width: 250px;
    height: calc(100% - 60px);
    background-color: #8fbfbb;
    transition: all 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 14px;
}

.menu-container a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: left;
    width: 100%;
}

.menu-container a:hover {
    background-color: #b0c7c4;
    color: #fff;
    width: 100%;
}

.menu-container.open {
    left: 0;
}

.hide-menu {
    position: fixed;
    top: 46px;
    left: 0;
    width: 50px;
    height: calc(100%);
    background-color: #8fbfbb;
    transition: all 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 14px;
}

.hide-menu a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: left;
    width: 100%;
}

.hide-menu a:hover {
    background-color: #b0c7c4;
    color: #fff;
    width: 100%;
}

.hide-menu.open {
    left: -250px;
}

.button-container {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sort-btn {
    margin-left: 1rem;
}

.btn {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    background-color: #8fbfbb;
    border: none;
    color: black;
}

.btn-primary:hover {
    background-color: #b0c7c4 !important;
    color: #fff !important;
}



#taskList,
#completedTaskList {
  border: 10px solid #D4D7C6;
  padding: 10px;
  width: 1025px;
  margin-left: 220px;
}

.list-group {
    border: 10px solid #D4D7C6;
    border-radius: 10px;
    padding: 10px;
    padding-left: 200px;
  } 
  
  h5 {
    padding-top: 50px;
    padding-left: 220px;
  }

  .list-group-item {
    padding: 10px;
  }
  
  .list-group-item h5 {
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
  }
  
  .list-group-item small {
    font-size: 14px;
  }
  
  .list-group-item .take-task-btn {
    margin-right: 10px;
  }
  
  