.topnav {
    background-color: #d4d7c6;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #efefef;
    color: #333;
}

.topnav a.active {
    background-color: #4caf50;
    color: white;
}

.right-icons {
    float: right;
}

.right-icons a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.right-icons a:hover {
    background-color: #efefef;
    color: #333;
}

.fa {
    font-size: 20px;
    margin-right: 5px;
}

.menu-icon {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.menu-container {
    position: fixed;
    top: 46px;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #8fbfbb;
    transition: all 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 14px;
}

.menu-container a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: left;
    width: 100%;
}

.menu-container a:hover {
    background-color: #b0c7c4;
    color: #fff;
    width: 100%;
}

.menu-container.open {
    left: 0;
}

.hide-menu {
    position: fixed;
    top: 46px;
    left: 0;
    width: 50px;
    height: calc(100%);
    background-color: #8fbfbb;
    transition: all 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: left;
    width: 100%;
}

.hide-menu a:hover {
    background-color: #b0c7c4;
    color: #fff;
    width: 100%;
}

.hide-menu.open {
    left: -250px;
}

.button-container {
    display: flex;
    margin-top: 1rem;
}

.sort-btn {
    margin-left: 1rem;
}

.btn {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    background-color: #8fbfbb;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #fad4a6 !important;
    color: #fff !important;
}

.popupBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
}

.btn-primary {
    margin-left: 5px;
    margin-right: 5px;
}

#cancelBtn {
    margin-left: 10px;
}

.list-box {
    width: 100%;
    height: 100%;
    padding-left: 50px;
}

#taskList, #onGoingTaskList,
#completedTaskList {
    border: 10px solid #d4d7c6;
    padding: 10px;
}

.list-group {
    border: 10px solid #d4d7c6;
    border-radius: 10px;
    padding: 10px;
    padding-left: 200px;
}

.heading-container {
    padding-top: 50px;
}

.list-group-item {
    padding: 10px;
}

.list-group-item h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

.list-group-item small {
    font-size: 14px;
}

.btn-container {
    margin-right: 2rem;
}

.btn:hover {
    background-color: #fad4a6;
}

.add-task-popup {
    border-radius: 10px;
    display: none;
    position: fixed;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #d4d7c6;
    padding: 20px;
    z-index: 9999;
}

.add-task-popup h6 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0px;
    position: relative;
}

.add-task-popup h6:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
}

.add-task-popup label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 18px;
}

.add-task-popup input {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
}

.add-task-popup label:first-child {
    margin-top: 40px;
}

.edit-task-popup {
    border-radius: 10px;
    display: none;
    position: fixed;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    width: 370px;
    transform: translate(-50%, -50%);
    background-color: #d4d7c6;
    padding: 20px;
    z-index: 9999;
}

.edit-task-popup h6 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0px;
    position: relative;
}

.edit-task-popup h6:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
}

.edit-task-popup label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 18px;
}

.edit-task-popup input {
    display: block;
    font-size: 1.5rem;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
}

.edit-task-popup label:first-child {
    margin-top: 40px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.6);
}

/* hide the overlay and popup by default */
.overlay {
    display: none;
}

.dropdown-menu {
    font-size: 1.2rem;
}

.btn.show {
    background-color: #fad4a6;
}

.form-control {
    font-size: 1.5rem;
}

#editPrioritySelect {
    font-size: 1.5rem;
}

a {
    color: #8fbfbb;
    text-decoration: none;
    font-size: 1.5rem;
}
